

:root {
    /* สีหลักเว็ป */
    --primary-color: rgb(40, 66, 148);
    --primary-dark-color: rgb(45, 63, 121);
    --secondary-color: rgb(114, 121, 206);

    /* สีข้อความ */
    --text-color: black;
    --mute-text-color: rgb(129, 125, 125);

    --nav-text-color: rgb(32, 32, 32);
    --light-text-color: rgb(245, 245, 250);


    /* สีพื้น */
    --btn-bg-color: rgb(111, 124, 209);
    --footer-bg-color: rgb(29, 30, 31);
    --light-bg-color: rgb(255, 255, 255);

    --mute-bg-color: rgb(185, 187, 228);

    --red-text-color: rgb(209, 56, 56);
    --green-text-color: rgb(54, 218, 54);
    --blue-text-color: rgb(53, 53, 233);
    /* สีเงา */
    --header-shadow: 0 4px 8px rgb(196, 192, 192);
    --card-shadow: 0 3px 8px rgb(219, 216, 216);

    /* สีขอบ */
    --border-color: rgb(185, 185, 185);

    /* สีกล่องคำแนะนำ */
    /*  ฟ้า */
    --card-blue-bg: #e8f1ff;
    --card-blue-title: #1e3a8a;

    /*  ม่วง */
    --card-purple-bg: #f5e8ff;
    --card-purple-title: #581c87;

    /* เขียว  */
    --card-green-bg: #e2f9eb;
    --card-green-title: #064e3b;

    /*  ส้ม */
    --card-orange-bg: #fff3df;
    --card-orange-title: #7c2d12;

}

.carousel-inner .carousel-item img {
    max-height: 500px;
    object-fit:cover;
    object-position: top;

    width: 100%;
    height: calc(100vh-160px);

}

.info-section {
    margin: 1.5rem;
    padding: 32px 24px;
    background-color: var(--light-bg-color);
    border-radius: 20px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.04);
}

/* หัวข้อใหญ่ */
.info-title {
    text-align: center;
    font-size: 1.6rem;
    font-weight: 700;
    color: var(--primary-dark-color);
    margin-bottom: 24px;
}

.info-grid {
    display: grid;
    /* grid-template-columns: repeat(4, 1fr); */
    grid-template-columns: repeat(auto-fit, minmax(min(100%, 250px), 1fr));
    /* ถ้าจอเล็กกว่า250 pxจะล้นการ์ดออกมา */
    gap: 1.25rem;
}

.info-card {
    padding: 24px 20px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
}

.info-card h3 {
    font-size: 1.05rem;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 14px;
}

.info-card p {
    font-size: 0.92rem;
    line-height: 1.6;
    margin: 0;
    color: var(--mute-text-color);
}

.info-primary {border-left: 5px solid var(--primary-color);}
.info-success {border-left: 5px solid green;}
.info-warning {border-left: 5px solid orange;}
.info-danger {border-left: 5px solid red;}


/* .info-blue {
    background-color: var(--card-blue-bg);
}

.info-blue h3 {
    color: var(--card-blue-title);
}


.info-purple {
    background-color: var(--card-purple-bg);
}

.info-purple h3 {
    color: var(--card-purple-title);
}


.info-green {
    background-color: var(--card-green-bg);
}

.info-green h3 {
    color: var(--card-green-title);
}

.info-orange {
    background-color: var(--card-orange-bg);
}

.info-orange h3 {
    color: var(--card-orange-title);
} */

/* ========================
         Category Filter
===========================*/
 
.category-filter {
    display: flex;
    flex-wrap: wrap;
    gap: 0.75rem;
    justify-content: center;
    margin-bottom: 2rem;
}
.category-btn {
    padding: 0.625rem 1.25rem;
    border-radius: 9999px;
    border: none;
   
    display: flex;
    align-items: center;
    gap: 0.5rem;
   
    cursor: pointer;
    font-size: 1rem;
    transition: all 0.2s;
}
.category-btn:not(.active) {
    background: white;
    color: #374151;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.category-btn:not(.active):hover {
    background: #f3f4f6;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}
.category-btn.active {
    background: linear-gradient(to right, #3b82f6, #a855f7);
    color: white;
    box-shadow: 0 4px 12px rgba(59, 130, 246, 0.3);
    transform: scale(1.05);
}
 
 
 
 
/* ================================= */
/* =========== Pet Grid ============ */
/* ================================= */
 
/* เพิ่ม */
.pet-category-badge {
    position: absolute;
    top: 0.75rem;
    right: 0.75rem;
    background: rgba(255, 255, 255, 0.9);
    backdrop-filter: blur(8px);
    padding: 0.25rem 0.75rem;
    border-radius: 9999px;
    font-size: 0.875rem;
}

/* เพิ่ม */
.pet-image-container {
    position: relative;
    height: 16rem;
    overflow: hidden;
}
 
/* ========================
    Pet info
    ปุ่มซ่อน แสดง รายละเอียด
===========================*/
 
/* เพิ่ม */
.pet-info-item {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: 0.875rem;
    color: #4b5563;
    margin-bottom: 0.5rem;
}

/* เพิ่ม */
.pet-info-icon {
    width: 1rem;
    height: 1rem;
}
 
 
/* เพิ่ม */
.pet-info-item {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: 0.875rem;
    color: #4b5563;
    margin-bottom: 0.5rem;
}

/* เพิ่ม */
.pet-info-icon {
    width: 1rem;
    height: 1rem;
}
 
 
 
 
 
/* เพิ่ม */
.pet-details {
    margin-top: 1rem;
    padding-top: 1rem;
    border-top: 1px solid #e5e7eb;
    animation: fadeIn 0.3s;
}

.pet-details-section {
    margin-bottom: 0.75rem;
}

.pet-details-title {
    font-size: 0.875rem;
    font-weight: 600;
    color: #374151;
    margin-bottom: 0.25rem;
}

.pet-details-text {
    font-size: 0.875rem;
    color: #6b7280;
}

.hidden {
    display: none;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
    /* font-size: 16px; */
}

body {
    background: linear-gradient(135deg,
            white 0%,
            rgb(127, 126, 199) 30%,
            rgb(89, 88, 165) 100%);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
    color: var(--text-color);
}

.container {
    max-width: 1320px;
    margin: auto;
}

:root {
    /* สีหลักเว็ป */
    --primary-color: rgb(40, 66, 148);
    --primary-dark-color: rgb(45, 63, 121);
    --secondary-color: rgb(114, 121, 206);

    /* สีข้อความ */
    --text-color: black;
    --mute-text-color: rgb(129, 125, 125);

    --nav-text-color: rgb(32, 32, 32);
    --light-text-color: rgb(245, 245, 250);


    /* สีพื้น */
    --btn-bg-color: rgb(111, 124, 209);
    --footer-bg-color: rgb(29, 30, 31);
    --light-bg-color: rgb(255, 255, 255);

    --mute-bg-color: rgb(185, 187, 228);

    --red-text-color: rgb(209, 56, 56);
    --green-text-color: rgb(54, 218, 54);
    --blue-text-color: rgb(53, 53, 233);
    /* สีเงา */
    --header-shadow: 0 4px 8px rgb(196, 192, 192);
    --card-shadow: 0 3px 8px rgb(219, 216, 216);

    /* สีขอบ */
    --border-color: rgb(185, 185, 185);

    /* สีกล่องคำแนะนำ */
    /*  ฟ้า */
    --card-blue-bg: #e8f1ff;
    --card-blue-title: #1e3a8a;

    /*  ม่วง */
    --card-purple-bg: #f5e8ff;
    --card-purple-title: #581c87;

    /* เขียว  */
    --card-green-bg: #e2f9eb;
    --card-green-title: #064e3b;

    /*  ส้ม */
    --card-orange-bg: #fff3df;
    --card-orange-title: #7c2d12;

}

/* ==============
      HEADER
=================*/
.header {
    box-shadow: var(--header-shadow);
    position: sticky;
    top: 0;
    z-index: 10;

    background-color: rgba(103, 101, 238, 0.671);
    backdrop-filter: blur(10px);
}

.header p {
    color: var(--text-color);
}

.header-content {
    color: var(--primary-color);
    padding-block: 1.5REM;
    text-align: center;
    margin: auto;
}

.header-title {
    color: var(--primary-color);

    font-size: clamp(2rem, 5vm, 3rem);
    line-height: 1.2;
    margin-bottom: 0.25;
}

.header-subtitle {
    color: var(--border-color);
}


/* ==============
      nav
=================*/
.category-nav {
    padding-block: 2rem;
    text-align: center;
}

.category-nav label {
    color: var(--nav-text-color);

    padding: 0.65rem 1.2rem;
    box-shadow: var(--card-shadow);
    border-radius: 999px;

    background-color: var(card --btn-bg-color);

    transition: 0.5s;

    display: inline-block;
}

.category-nav label:hover {
    transform: translateY(-10px);
    background-color: var(--btn-bg-color);
    color: var(--light-text-color);

}

/* ซ่อนปุ่มradio */
.filter-radio {
    position: absolute;
    width: 1px;
    height: 1px;

    overflow: hidden;
    clip-path: inset(50%);
}

/* ใส่สีlabelที่เลือก*/
#filter-all:checked~.category-nav label[for=filter-all],
#filter-dog:checked~.category-nav label[for=filter-dog],
#filter-cat:checked~.category-nav label[for=filter-cat],
#filter-bird:checked~.category-nav label[for=filter-bird],
#filter-fish:checked~.category-nav label[for=filter-fish],
#filter-small-pet:checked~.category-nav label[for=filter-small-pet] {
    color: var(--light-text-color);
    background-color: var(--secondary-color);
}

/* ซ่อนหมวหมู่ */
.category-hide {
    display: none;
}

/* แสดงผลการ์ด */
#filter-all:checked~main .show-all,
#filter-dog:checked~main .show-dog,
#filter-cat:checked~main .show-cat,
#filter-bird:checked~main .show-bird,
#filter-fish:checked~main .show-fish,
#filter-small-pet:checked~main .show-small-pet {
    display: inline;
}

/* ซ่อนการ์ดสัตว์ */
#filter-dog:checked~main .pet-card,
#filter-cat:checked~main .pet-card,
#filter-bird:checked~main .pet-card,
#filter-fish:checked~main .pet-card,
#filter-small-pet:checked~main .pet-card {
    display: none;
}

/* โชว์การ์ดสัตว์ */
#filter-dog:checked~main .show-dog,
#filter-cat:checked~main .show-cat,
#filter-bird:checked~main .show-bird,
#filter-fish:checked~main .show-fish,
#filter-small-pet:checked~main .show-small-pet {
    display: block;
}






nav a.active {
    background-color: var(--btn-bg-color);
    color: var(--light-text-color);
}


/* ==============
      main
=================*/
.page-title {
    text-align: center;
    margin-bottom: 1.5rem;
}


.pet-grid {
    display: grid;
    /* grid-template-columns: repeat(4, 1fr); */
    grid-template-columns: repeat(auto-fit, minmax(min(100%, 300px), 1fr));
    gap: 1.5rem;
    padding: 1.5rem;
}

.pet-card {
    border: var(--border-color);
    background-color: var(--light-bg-color);


    border-radius: 0.75rem;
    overflow: hidden;

    transition: tranform 0.3s, box-shadow 0.5s;
}

.pet-card:hover {
    transform: translateY(-3px);
    box-shadow: var(--header-shadow);
}


.pet-card img {
    height: 16.25rem;
    width: 100%;

    object-fit: cover;
}

.pet-content {
    padding: 1.25rem
}

.pet-content h2 {
    color: var(--primary-dark-color)
}

.breed {
    color: var(--mute-text-color);
}

/* ========
ปุ่มซ่อนแสดง
========== */

.pet-info {
    list-style-type: none;
    margin-block: 1rem;
}

.pet-info li {
    margin-bottom: 0.35rem;
}

.info-lifespan {
    color: var(--red-text-color);

}

.info-size {
    color: var(--blue-text-color);

}

.info-temperament {
    color: var(--green-text-color)
}

.pet-details summary {
    list-style-type: none;
}



.pet-btn {
    background-color: var(--primary-color);
    color: var(--light-text-color);
    padding: 0.5rem;
    margin-block: 1rem;
    border-radius: 0.5rem;

    text-align: center;

    cursor: pointer;
    transition: transform 0.2s;
    box-shadow: var(--card-shadow);
}

.pet-btn:hover {
    background-color: var(--primary-dark-color);
    transform: translateY(-10px);
}

.hide-detail {
    display: none;
}

.pet-details[open] .show-detail {
    display: none;
}

.pet-details[open] .hide-detail {
    display: inline;
}

.pet-details-body {
    margin-top: 1rem;
    animation: appear 0.25s ease-out;
}

@keyframes appear {
    from {
        opacity: 0;
        transform: translateY(-55px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.pet-details-body section+section {
    margin-top: 1rem;
}

/* ========
INFO
========== */






/* tipbox */
.info-section {
    margin: 1.5rem;
    padding: 32px 24px;
    background-color: var(--light-bg-color);
    border-radius: 20px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.04);
}

/* หัวข้อใหญ่ */
.info-title {
    text-align: center;
    font-size: 1.6rem;
    font-weight: 700;
    color: var(--primary-dark-color);
    margin-bottom: 24px;
}

.info-grid {
    display: grid;
    /* grid-template-columns: repeat(4, 1fr); */
    grid-template-columns: repeat(auto-fit, minmax(min(100%, 250px), 1fr));
    /* ถ้าจอเล็กกว่า250 pxจะล้นการ์ดออกมา */
    gap: 1.25rem;
}

.info-card {
    padding: 24px 20px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
}

.info-card h3 {
    font-size: 1.05rem;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 14px;
}

.info-card p {
    font-size: 0.92rem;
    line-height: 1.6;
    margin: 0;
    color: var(--mute-text-color);
}

/* 1. การ์ดสีฟ้า */
.info-blue {
    background-color: var(--card-blue-bg);
}

.info-blue h3 {
    color: var(--card-blue-title);
}

/* 2. การ์ดสีม่วง */
.info-purple {
    background-color: var(--card-purple-bg);
}

.info-purple h3 {
    color: var(--card-purple-title);
}

/* 3. การ์ดสีเขียว */
.info-green {
    background-color: var(--card-green-bg);
}

.info-green h3 {
    color: var(--card-green-title);
}

/* 4. การ์ดสีส้ม */
.info-orange {
    background-color: var(--card-orange-bg);
}

.info-orange h3 {
    color: var(--card-orange-title);
}

/* ==============
    table
=================*/
.pet-table {
    /* border: 1px solid red; */
    border-collapse: collapse;
    margin-top: 2rem;
    width: 100%;

    table-layout: fixed;

}

.pet-table td,
.pet-table th {
    border: 1px solid rgb(46, 42, 99);
    padding: 1rem;

    vertical-align: top;
    overflow-wrap: break-word;

}

.pet-table caption {
    text-align: left;
    font-weight: bold;
    color: var(--primary-color);

    caption-side: top;
}

.pet-table thead th {
    background-color: var(--primary-color);
    color: var(--light-text-color);
}

.pet-table tbody th {
    background-color: var(--card-blue-bg);
    color: var(--text-color);
    text-align: left;

    white-space: nowrap;
}

/* .pet-table thead th:nth-child(1) {
    width: 300px;
} */

.pet-table thead th:nth-child(2) {
    width: 400px;
}

.pet-table thead th:nth-child(3) {
    width: 200px;
}

/* .pet-table thead th:nth-child(4) {
    width: 400px;
} */

.pet-table thead th:nth-child(5) {
    width: 200px;
}

.pet-table tbody tr:nth-child(even) {
    background-color: rgb(33, 64, 202);
}

.pet-table tbody tr:hover {
    background-color: rgb(69, 131, 160);
}

.table-responsive {
    width: 100%;
    overflow-x: auto;

}

/* ==============
    form-Radio
=================*/
.form-radio {
    margin: 1.5rem;
    padding: 32px 24px;
    background-color: var(--light-bg-color);
    border-radius: 20px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.04);

}

.form-radio h2 {
    text-align: center;
    color: var(--primary-color);

}

.form-radio p {
    text-align: center;
    color: var(--mute-text-color);
    margin-bottom: 0.8rem;

}

.form-radio fieldset {
    padding: 1.5rem;
    border: 1px solid var(--border-color);
    border-radius: 0.7rem;
}

.form-radio legend {
    padding: 0 0.5rem;
    color: var(--primary-color);
    font-weight: bold;
}

.radio-option {
    display: flex;
    justify-content: center;
    gap: 0.75rem;

    flex-wrap: wrap;
}

.radio-item label {
    background-color: var(--mute-bg-color);
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    color: var(--nav-text-color);

    cursor: pointer;
}

.radio-item input {
    accent-color: var(--secondary-color);
}

.radio-item input:checked+label {
    background-color: var(--secondary-color);
    color: var(--light-text-color);

}

.reset-btn {
    background-color: var(--primary-color);
    color: var(--light-text-color);
    padding: 0.5rem 1rem;

    border-radius: 0.5rem;
    border: none;

    cursor: pointer;

    display: block;
    margin: 1.5rem auto 0;
}



/* ==============
      footer
=================*/

footer {
    background-color: var(--footer-bg-color);
    color: var(--light-text-color);
    text-align: center;

    padding-block: 2rem;
    margin-top: 2rem;
}

/* ==============
      Responsive
=================*/
/* tablet */
@media (max-width: 992px) {
    .pet-grid {
        /* grid-template-columns: repeat(2, 1fr); */
    }


}

/* mobile */
@media (max-width: 768px) {
    .pet-grid {
        /* grid-template-columns: repeat(1, 1fr); */
    }

    .category-nav label {
        display: block;
        margin: 0.4rem 2rem;

        border-radius: 10px;
    }

    .category-nav label:hover {
        transform: translateY(-5px);

    }

    .info-grid {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
}