/* base setting */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background-color: #c7e4ff;
  line-height: 1.6;
}
footer,
.hero,
.card,
.tip-box {
  border: 1px solid rgb(64, 66, 198);
  background-color: #ffffff;
  margin: 20px;
  padding: 20px;
}

header {
  background: linear-gradient(to right, #074fea, #20afe7);
  padding: 20px;
  color: white;
  box-shadow: 0 4px 8px rgb(35, 196, 102);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.brand {
  display: flex;
  align-items: center;
  gap: 10px;
}

.brand-icon {font-size: 50px;}

.brand-text p {font-size: 14px;}

nav a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  margin-left: 20px;
}

nav a:hover {
  color: rgb(118, 59, 59);
  text-decoration: underline;
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 20px;

  background-color: #5894cb;
}

.card-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

