* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Kanit, Arial, Helvetica, sans-serif;
  background-color: beige;
  color: rgb(48, 47, 47);
  line-height: 1.6;
}

.container {
}

/* header section */
.site-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(110deg, rgb(53, 8, 216), rgb(145, 114, 230));
  padding: 8px 20px;
}

.brand {
  padding: 15px;
  margin: 15px;
  color: antiquewhite;
  display: flex;
  align-items: center;
  gap: 20px;
}

.brand-logo {
  background-color: rgb(103, 171, 216);
  border-radius: 50%;
  font-size: 30px;
  width: 55px;
  height: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.brand-text h2 {
  font-size: 24px;
}

.brand-text p {
  font-size: 14px;
  opacity: 0.7;
}

/* navbar */
.main-nav {
  padding: 15px;
  margin: 15px;
}

.nav-list {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.nav-list a {
  color: rgb(252, 252, 252);
  text-decoration: none;
  padding: 8px 15px;
  border-radius: 8px;
  transition: 2s;
}

.nav-list a:hover {
  background-color: aliceblue;
}

/* main section */
.main-layout {
  display: grid;
  grid-template-columns: 1fr 390px;
  padding: 20px 22px;
}

.left-content {
}

.hero {
  display: grid;
  grid-template-columns: 1.5fr 0.8fr;
  
  background: linear-gradient(90deg, rgb(197, 199, 212), rgb(16, 16, 117));
  padding: 26px 36px;
  border-radius: 15px;
  box-shadow: 0px 4px 8px rgb(124, 123, 123);
  margin-top: 20px;
  align-items: center;
}

.hero-text h1 {
  font-size: 36px;
  color: rgb(21, 21, 83);
}

.hero-text p {
  font-size: 24px;
  color: rgb(21, 21, 83);
}

.hero-photo img {
  width: 400px;
  height: 200px;
  border: 3px solid rgb(46, 44, 150);
  border-radius: 10px;
  object-fit: cover;
  box-shadow: 0 4px 8px rgb(77, 77, 77);
}

/* link example */

.card {
  /* border: 1px solid rgb(31, 76, 160); */
  padding: 26px 36px;
  border-radius: 15px;
  box-shadow: 0px 4px 8px rgb(124, 123, 123);
  background-color: white;
  border: 1pz solid rgb(117, 130, 247);
  border-radius: 15px;
  margin-top: 20px;
}

.card-header-title {
  

}
.card-header-title h2{
  color: rgb(21, 21, 83);
}
.card-body-grid {
display: grid;
grid-template-columns: 0.75fr 1.25fr;
gap: 20px;
}
/* กล่องลิ้งด้านซ้าย */
.result-panel,.code-panel {
border: 1px solid rgb(90, 20, 219);
border-radius: 10px;

overflow: hidden;

}

.result-panel-header,.code-panel-header {
  color: rgb(21, 21, 83);
  background-color: rgb(145, 146, 255);
  padding: 0px 20px;
  font-weight: bold;
}
.result-panel-body {
  line-height: 2;

   padding: 5px 20px 20px 20px;

}
.result-panel-emoji{
  background-color: rgb(21, 21, 109);
  border-radius: 4px;
  margin-right: 10px;

}

.result-panel-body a{
 display: block;

 color: rgb(48, 48, 177);
}
.result-panel-body a:hover{
 color: rgb(139, 38, 52);
}

.back-btn {
  border: 2px solid rgb(35, 40, 116);
  border-radius: 10px;

  display: inline-block !important;
  padding: 0 20px;
  text-decoration: none;
}
/* โค้ดด้านขวา */
.code-panel {
  background-color: black;
  color: white;
}

.code-panel-body {


}
.code-list {
  padding: 16px 20px;
}
.code-list li {
  padding: 0 20px;
}

.tag {
  color: red;
}
.attr {color: greenyellow;}
.value {color: green;}

/* Image example */
.result-panel-body-3g {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap:20px;
  
  align-items: baseline;
  text-align: center;
  font-size: 14px;

  padding: 0 20px;
}


/* right side bar */
.right-sidebar {
  border: 1px solid rgb(31, 76, 160);
  padding: 15px;
  margin: 15px;
}

.side_cerd {
}

.submit-card {
}

/* footer section */
.tip-box {
  border: 1px solid red;
  padding: 15px;
  margin: 15px;
}
