* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Kanit, Arial, Helvetica, sans-serif;
  background-color: beige;
  color: rgb(48, 47, 47);
  line-height: 1.6;
}

.container {
  width: 100%;
}

/* header section */
.site-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(110deg, rgb(53, 8, 216), rgb(145, 114, 230));
  padding: 8px 20px;
}

.brand {
  padding: 15px;
  margin: 15px;
  color: antiquewhite;
  display: flex;
  align-items: center;
  gap: 20px;
}

.brand-logo {
  background-color: rgb(103, 171, 216);
  border-radius: 50%;
  font-size: 30px;
  width: 55px;
  height: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.brand-text h2 {
  font-size: 24px;
}

.brand-text p {
  font-size: 14px;
  opacity: 0.7;
}

/* navbar */
.main-nav {
  padding: 15px;
  margin: 15px;
}

.nav-list {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.nav-list a {
  color: rgb(252, 252, 252);
  text-decoration: none;
  padding: 8px 15px;
  border-radius: 8px;
  transition: 0.3s;
}

.nav-list a:hover {
  background-color: aliceblue;
  color: #1a365d;
}

/* main section */
.main-layout {
  display: grid;
  grid-template-columns: 1fr 390px;
  padding: 20px 22px;
  gap: 20px;
}

.hero {
  display: grid;
  grid-template-columns: 1.5fr 0.8fr;
  background: linear-gradient(90deg, rgb(197, 199, 212), rgb(16, 16, 117));
  padding: 26px 36px;
  border-radius: 15px;
  box-shadow: 0px 4px 8px rgb(124, 123, 123);
  margin-top: 20px;
  align-items: center;
}

.hero-text h1 {
  font-size: 36px;
  color: rgb(21, 21, 83);
}

.hero-text p {
  font-size: 24px;
  color: rgb(21, 21, 83);
}

.hero-photo img {
  width: 100%;
  max-width: 400px;
  height: 200px;
  border: 3px solid rgb(46, 44, 150);
  border-radius: 10px;
  object-fit: cover;
  box-shadow: 0 4px 8px rgb(77, 77, 77);
}

/* link example & card */
.card {
  padding: 26px 36px;
  border-radius: 15px;
  box-shadow: 0px 4px 8px rgb(124, 123, 123);
  background-color: white;
  border: 1px solid rgb(117, 130, 247);
  margin-top: 20px;
}

.card-header-title h2 {
  color: rgb(21, 21, 83);
  margin-bottom: 15px;
}

.card-body-grid {
  display: grid;
  grid-template-columns: 0.75fr 1.25fr;
  gap: 20px;
}

/* กล่องลิ้งก์ด้านซ้าย */
.result-panel,
.code-panel {
  border: 1px solid rgb(90, 20, 219);
  border-radius: 10px;
  overflow: hidden;
}

.result-panel-header,
.code-panel-header {
  color: rgb(21, 21, 83);
  background-color: rgb(145, 146, 255);
  padding: 5px 20px;
  font-weight: bold;
}

.result-panel-body {
  line-height: 2;
  padding: 15px 20px;
}

.result-panel-emoji {
  background-color: rgb(21, 21, 109);
  border-radius: 4px;
  margin-right: 10px;
  padding: 2px 4px;
}

.result-panel-body a {
  display: block;
  color: rgb(48, 48, 177);
}

.result-panel-body a:hover {
  color: rgb(139, 38, 52);
}

.back-btn {
  border: 2px solid rgb(35, 40, 116);
  border-radius: 10px;
  display: inline-block !important;
  padding: 0 20px;
  text-decoration: none;
  margin-top: 10px;
}

/* โค้ดด้านขวา */
.code-panel {
  background-color: black;
  color: white;
}

.code-list {
  padding: 16px 20px 16px 40px;
}

.code-list li {
  padding: 2px 0;
}

.tag {
  color: #e67c7c;
}

.attr {
  color: #8fbd43;
}

.value {
  color: #5ace84;
}

/* Image example */
.result-panel-body-3g {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
  align-items: baseline;
  text-align: center;
  font-size: 14px;
  padding: 15px;
}

/* right side bar */
.right-sidebar {
  display: grid;
  gap: 15px;
}

.side-card {
  background-color: white;
  border-radius: 12px;
  padding: 18px 20px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.08);
  font-size: 16px;
}

.side-list-item {
  display: flex;
  align-items: flex-start;
  gap: 10px;
  margin-bottom: 10px;
  font-size: 14px;
}

.side-num {
  width: 22px;
  height: 22px;
  border-radius: 50%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  font-weight: bold;
  flex-shrink: 0;
  margin-top: 4px;
}

.s-blue {
  background-color: #2563eb;
}
.s-1 {
  background-color: #4d82f2;
}
.s-2 {
  background-color: #2dbc61;
}
.s-3 {
  background-color: #c2833b;
}
.s-4 {
  background-color: #604b91;
}
.s-5 {
  background-color: #b94d83;
}
.s-6 {
  background-color: #4ca59e;
}

.side-card code {
  background-color: #f1f5f9;
  padding: 2px 4px;
  border-radius: 4px;
}

/* Tags Grid */
.side-tags {
  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap: 8px;
  text-align: center;
}

.side-tag {
  padding: 4px 12px;
  border-radius: 15px;
  font-size: 14px;
  font-weight: bold;
}

.tag-a {
  background-color: #e0f2fe;
  color: #2b8dc2;
}
.tag-href {
  background-color: #ccfbf1;
  color: #56c9c0;
}
.tag-target {
  background-color: #dcfce7;
  color: #3caa64;
}
.tag-img {
  background-color: #ffedd5;
  color: #b05f3f;
}
.tag-src {
  background-color: #f3e8ff;
  color: #7744a4;
}
.tag-alt {
  background-color: #ffe4e6;
  color: #c23e5f;
}
.tag-width {
  background-color: #ccfbf1;
  color: #30928a;
}
.tag-height {
  background-color: #fef9c3;
  color: #b48646;
}

/* Submit Card */
.submit-card {
  background-color: #fef9c3;
  border: 1px solid #fef08a;
  display: flex;
  align-items: center;
  gap: 30px;
}
.submit-icon {
  font-size: 30px;
}

.submit-text {
  font-size: 16px;
  /* padding-left: 28px; */
  color: #334155;
  font-weight: 50px;
  display: block;
}
/* tipbox */
.tip-box {
  align-items: center;
  text-align: start;
  /* width: 1860px; */
  margin: 20px;
  border-radius: 12px;
  border: 1px solid rgb(74, 82, 201);
  background-color: #a9b3ca;
  padding: 20px;
  display: flex;
  justify-content: center;
  gap: 20px;

}
.tip-icon {
  background-color: #123685;
  border-radius: 50%;
  width: 75px;
  height: 75px;

  font-size: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  flex-shrink: 0;
}
.tip-content h2 {
    color: #0b3d91;
    font-size: 24px;
    margin-bottom: 4px;
}

.tip-content p {
    font-size: 15px;
    color: #1f2937;
}

.tip-content span {
    color: #e11d48;
    font-family: Consolas, monospace;
    font-weight: bold;
}

.tip-photo {
  font-size: 45px;
  text-align: center;
}

/* ==================
responsive
===================== */

@media (max-width:1200px) {
  .container {
  background-color: red;;
  }
  .main-layout {
    grid-template-columns: 1fr;
  }
  .right-sidebar {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 12px;
}
}


@media (max-width:992px) { 
  .container {
  background-color: rgb(157, 255, 0);;
  }
}


@media (max-width:768px) {
  .container {
  background-color: rgb(0, 47, 255);;
  }
  .hero {
    display: flex;
    flex-direction: column;
    gap: 50px;
  }
  .hero-photo img {
  width: 100%;
  height: auto;

}
.result-panel-body-3g {
  display: flex;
  flex-direction: column;
  align-items: center;
}
  .right-sidebar {
  display: grid;
  grid-template-columns: 1fr;
  gap: 12px;
}
.card-body-grid {
  grid-template-columns: 1fr;
}
.tip-photo {
  display: none;
}
.tip-box {
  grid-template-columns: 90px 1fr;
}

}